<div class="navbar navbar-default margin-none">
  <!-- <div class="container"> -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t("Dating"), home_path, class: "navbar-brand" %>

  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to t("My Profile"), :action=> :show, :controller=>:profiles, :username => current_user.username %> </li>
        <li><%= link_to t("Search"), profiles_path %> </li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Core packages <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="component.core.minimal.html">asd</a></li>
          <li><a href="component.core.html">Complete</a></li>
        </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", '/users/sign_out', :method=>:delete, :class=>:destroy %></li>
      <% else %>
        <li><%= link_to "Sign in", '/users/sign_in' %></li>
        <li><%= link_to "Sign Up", '/users/sign_up' %></li>
      <%  end %>
    </ul>
  </div><!--/.nav-collapse -->
  <!-- </div> -->
</div>
