<li>
  <div class="media innerAll half conversation_boxie">
    <div class="media-object pull-left thumb hidden-phone"><img data-src="holder.js/50x50/dark" alt="Image" /></div>
    <div class="media-body">
      <span class="strong"><a href="<%= messages_path conversation.other_user(current_user).username %>"><%= conversation.other_user(current_user).username %></a></span>
      <small>Latest comment line...</small><br/>
      <small class="text-italic text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> 17 days ago</small>
    </div>
  </div>
  <script type="text/javascript">
$(".conversation_boxie").click(function(){
     window.location=$(this).find("a").attr("href");
     return false;
});
  </script>
</li>
