<form role="form" action="<%= create_message_path %>" method="post" id="new_message_form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" value="<%=@receiver.id%>" name="message[receiver_id]" />

  <div class="form-group">
    <textarea placeholder="Type in your message .. " class="form-control col-md-12" rows="5" name="message[content]" id="message_content" ></textarea>
  </div>
  <div class="form-group">
    <div class="text-right ">
      <button type="submit" class="btn btn-primary">Send <i class="innerL half fa fa-envelope"></i></button>
    </div>
  </div>
</form>

<%= render 'messages/form_js'%>
