<script type="text/javascript">
  function scrollWinwdow(){
    $('#messages_list').scrollTop($('#messages_list').prop("scrollHeight"));
    return false;
  }

  $(document).ready(function() {
    $("#new_message_form").submit(function() {


      if ($('#message_content').val() == "") {
        alert("Please enter a message first!");
        return false;
      }
      form_data = $(this).serialize();
      $.ajax({
        type: "POST",
        url: '<%= create_message_path %>',
        data: form_data,
        dataType: 'html', //important
        success: function(data) {
          $("#messages_list").append(data);
          $('#message_content').val('');
          scrollWinwdow();
        },
        error: function(jqXHR, textStatus, errorThrown) {
          // console.log(jqXHR);
          // console.log(textStatus);
          // console.log(errorThrown);
        }
      });

      return false;
    });
  });

  $(window).load( scrollWinwdow());




</script>
