<div class="row row-merge borders border-top">
  <div class="col-md-12">
    <div class="innerAll half">
      <div class="media">
        <a href="<%= profile_path message.sender.username %>" class="thumb pull-left visible-md visible-lg"><%= image_thumb message.sender.avatar, ' class="media-object" style="width: 50px; height: 50px" '%></a>
        <div class="media-body">
          <small class="pull-right text-primary-light"><i class="fa fa-calendar fa fa-fixed-width"></i> <%= distance_of_time_in_words_to_now(message.created_at) %> ago</small>
          <strong class="text-primary"><%= message.sender.username %></strong><br/>
          <small><%= message.content -%></small>
        </div>
      </div>
    </div>
  </div>
</div>
