<!-- Widget -->
<div class="widget widget-messages widget-heading-simple widget-body-white">
  <div class="widget-body padding-none">

    <div class="row row-merge borders">
      <div class="col-md-3 listWrapper">
        <div class="innerAll">
          <form autocomplete="off" class="form-inline margin-none">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" placeholder="Find someone .." />
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-xs pull-right"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <span class="results">1490 messages <i class="fa fa-circle-arrow-down"></i></span>
        <ul class="list unstyled">
          <% @conversations.each do |conversation| %>
            <%= render 'conversation', :conversation => conversation %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-9 detailsWrapper" >
        <div class="ajax-loading hide">
          <i class="fa fa-refresh text-primary-light fa fa-spin fa fa-4x"></i>
        </div>
        <div class="innerAll half">
          <div class="row margin-none">
            <div class="col-md-9">
              <h4 class="margin-none">
                <a href="" class="btn btn-info"><i class="fa fa-user fa fa-fixed-width"></i>
                  <%=@receiver.username %></a>
                </h4>
              </div>
              <div class="col-md-3 text-right">
                <a href="" class="text-size-regular text-primary-light vertical-middle"><i class="fa fa-flag fa fa-fixed-width"></i> Report</a>
              </div>
            </div>
          </div>
          <a href="" class="load border-top ">Load earlier messages <i class="fa fa-refresh innerL third"></i></a>
          <div style=" overflow-y: scroll; height: 350px;" id="messages_list">
            <% @conversation.messages.each do |message| %>
            <%= render 'message', :message => message %>
            <% end %>
          </div>

          <span href="" class="load"><i class="fa fa-calendar innerR third"></i>Today</span>



          <div class="innerAll" id="insert_new_message_above" style="">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // Widget END -->


  <script src="<%= asset_url 'components/modules/admin/messages/assets/js/messages.js' %>"></script>
  <script src="<%= asset_url 'components/plugins/holder/holder.js' %>"></script>
