<%= simple_form_for @user, :url => update_profile_path, :class => 'form-horizontal' do |f| %>

<%= render 'shared/error_messages', object: f.object %>



    <div class="form-group margin-none innerB">
      <%= f.label :birthday, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="input-group">
          <%= f.input_field :birthday, :class => 'form-control pull-left',
          :style => 'width: auto !important;',
           as: :date, start_year: Date.today.year - 90,
          end_year: Date.today.year - 12, order: [:day, :month, :year] %>

        </div>
      </div>
    </div>



<%= f.association :city, collection: City.all( order: 'name'), include_blank: false %>

<%= f.input :sex, include_blank: false %>

<%= f.input :height, collection: (100..220),  include_blank: false  %>

<%= f.input :weight, collection: (40..250),  include_blank: false  %>

<%= f.input :pets %>

<%= f.input :eye_color, include_blank: false %>

<%= f.input :hobbies %>
<%= f.input :sports %>
<%= f.input :movies %>
<%= f.input :music %>
<%= f.input :books %>
<%= f.input :likes %>
<%= f.input :dislikes %>

<%= f.button :submit %>
<% end %>
