<div class="row">
  <div class="col-md-6">
    <div class="widget activity-line">
      <div class="widget-body padding-none">
        <div class="share" >

          <%= simple_form_for(@share, :url => :shares,
          :html => {:style => ' height: 123px; '}) do |f| %>

          <%= render 'shared/error_messages', object: f.object %>

          <%=f.text_area(:content,:cols =>53, :rows => 4)%>
          <%=f.hidden_field(:user_id, value: @user.id)  %>
          <%=f.hidden_field(:username, value: @user.username)  %>

          <%=f.button(:submit, :class=>'btn btn-primary  btn-sm pull-right') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render 'profiles/tabs/photos', :user => @user %>
  </div>
</div>
<div class="row">

  <% @shares.each do |share| %>
  <%= render 'profiles/tabs/share', :share => share %>
  <% end %>

</div>
