<div class="col-md-12">

    <!-- col-separator -->
    <div class="col-separator col-separator-first border-none">

      <!-- col-table -->
      <div class="col-table">

        <!-- col-table-row -->
        <div class="col-table-row">

          <!-- col-app -->
          <div class="col-app">

            <!-- row-app -->
            <div class="row row-app margin-none">

              <%= render 'profiles/index/left_col' %>

              <%= render 'profiles/index/right_col' %>


            </div>
            <!-- // END row -->

          </div>
          <!-- // END col-app -->

        </div>
        <!-- // END col-table-row -->

      </div>
      <!-- // END col-table -->

    </div>
    <!-- // END col-separator -->

  </div>
