<div class="col-md-2">
  <%= render 'shared/profile_left_col' %>
</div>
<div class="col-md-8">
  <%= render 'profiles/middle_col' %>
</div>
<div class="col-md-2">
  <%= render 'profiles/right_col' %>
</div>
