<%= simple_form_for(resource, :as => resource_name, :html => { :class => "form-horizontal", :role => "form"}, :url => registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
	<%= f.label :email, :required => true,  :autofocus => true, :class => "col-sm-3 control-label" %>
	<div class="col-sm-3">
		<p class="form-control-static">
			<%= f.text_field :email, :class => "form-control "%>
		</p>
	</div>
</div>

<div class="form-group">
	<%= f.label :username, :required => true, :class => "col-sm-3 control-label" %>
	<div class="col-sm-3">
		<p class="form-control-static">
			<%= f.text_field :username, :class => "form-control "%>
		</p>
	</div>
</div>

<div class="form-group">
	<%= f.label :password, :required => true,:class => "col-sm-3 control-label" %>
	<div class="col-sm-3">
		<p class="form-control-static">
			<%= f.password_field :password, :class => "form-control "%>
		</p>
	</div>
</div>

<div class="form-group">
	<%= f.label :password_confirmation, :required => true,:class => "col-sm-3 control-label" %>
	<div class="col-sm-3">
		<p class="form-control-static">
			<%= f.password_field :password_confirmation, :class => "form-control "%>
		</p>
	</div>
</div>

<div class="form-actions">
	<div class="col-sm-offset-2 col-sm-10">
		<%= f.button :submit, "Sign up", :class=> "btn btn-primary"%>

	</div>
</div>

<% end %>

<%= render "devise/shared/links" %>

