
/* --- LOADING [css.bootstrap.min] from assets/components/library/bootstrap/css/bootstrap.min.css */
@import '../../../assets/components/library/bootstrap/css/bootstrap.min.css';

/* --- LOADING [css.font-awesome.min] from assets/components/library/icons/fontawesome/assets/css/font-awesome.min.css */
@import '../../../assets/components/library/icons/fontawesome/assets/css/font-awesome.min.css';

/* --- LOADING [css.glyphicons_regular] from assets/components/library/icons/glyphicons/assets/css/glyphicons_regular.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_regular.css';

/* --- LOADING [css.glyphicons_social] from assets/components/library/icons/glyphicons/assets/css/glyphicons_social.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_social.css';

/* --- LOADING [css.glyphicons_filetypes] from assets/components/library/icons/glyphicons/assets/css/glyphicons_filetypes.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_filetypes.css';

/* --- LOADING [less.variables] from assets/components/core/less/variables.less */
@import '../../../assets/components/core/less/variables.less';

/* --- LOADING [less.mixins] from assets/components/core/less/mixins.less */
@import '../../../assets/components/core/less/mixins.less';

/* --- LOADING [less.helpers] from assets/components/core/less/helpers.less */
@import '../../../assets/components/core/less/helpers.less';

/* --- LOADING [less.front.scaffolding] from assets/components/modules/front/core/assets/less/front.scaffolding.less */
@import '../../../assets/components/modules/front/core/assets/less/front.scaffolding.less';

/* --- LOADING [less.front.layout] from assets/components/modules/front/core/assets/less/front.layout.less */
@import '../../../assets/components/modules/front/core/assets/less/front.layout.less';

/* --- LOADING [less.buttons] from assets/components/modules/admin/ui/buttons/assets/buttons.less */
@import '../../../assets/components/modules/admin/ui/buttons/assets/buttons.less';

/* --- LOADING [less.front.buttons] from assets/components/modules/front/ui/buttons/front.buttons.less */
@import '../../../assets/components/modules/front/ui/buttons/front.buttons.less';

/* --- LOADING [less.forms] from assets/components/core/less/forms.less */
@import '../../../assets/components/core/less/forms.less';

/* --- LOADING [less.front.list-group] from assets/components/modules/front/lists/assets/less/front.list-group.less */
@import '../../../assets/components/modules/front/lists/assets/less/front.list-group.less';

/* --- LOADING [less.front.blog] from assets/components/modules/front/blog/assets/less/front.blog.less */
@import '../../../assets/components/modules/front/blog/assets/less/front.blog.less';

/* --- LOADING [less.labels] from assets/components/core/less/labels.less */
@import '../../../assets/components/core/less/labels.less';

/* --- LOADING [less.widget-generic] from assets/components/modules/admin/widgets/widget-generic/assets/widget-generic.less */
@import '../../../assets/components/modules/admin/widgets/widget-generic/assets/widget-generic.less';

/* --- LOADING [less.menus.top] from assets/components/core/less/menus.top.less */
@import '../../../assets/components/core/less/menus.top.less';

/* --- LOADING [less.front.menus.top] from assets/components/modules/front/core/assets/less/front.menus.top.less */
@import '../../../assets/components/modules/front/core/assets/less/front.menus.top.less';

/* --- LOADING [less.front.navbar] from assets/components/modules/front/navbar/front.navbar.less */
@import '../../../assets/components/modules/front/navbar/front.navbar.less';

/* --- LOADING [css.prettify] from assets/components/plugins/prettyprint/assets/css/prettify.css */
@import '../../../assets/components/plugins/prettyprint/assets/css/prettify.css';

/* --- LOADING [css.jquery.miniColors] from assets/components/helpers/themer/assets/plugins/minicolors/jquery.miniColors.css */
@import '../../../assets/components/helpers/themer/assets/plugins/minicolors/jquery.miniColors.css';

/* --- LOADING [less.themer] from assets/components/helpers/themer/assets/less/themer.less */
@import '../../../assets/components/helpers/themer/assets/less/themer.less';

/* --- LOADING [less.modals] from assets/components/modules/admin/modals/assets/less/modals.less */
@import '../../../assets/components/modules/admin/modals/assets/less/modals.less';

/* --- CUSTOM COLORS */
@primaryColor: #8D8D6E;
@linkColor: #6997a2;
@secondaryColor: #6997a2;
