
/* --- LOADING [css.bootstrap.min] from assets/components/library/bootstrap/css/bootstrap.min.css */
@import '../../../assets/components/library/bootstrap/css/bootstrap.min.css';

/* --- LOADING [css.font-awesome.min] from assets/components/library/icons/fontawesome/assets/css/font-awesome.min.css */
@import '../../../assets/components/library/icons/fontawesome/assets/css/font-awesome.min.css';

/* --- LOADING [css.glyphicons_regular] from assets/components/library/icons/glyphicons/assets/css/glyphicons_regular.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_regular.css';

/* --- LOADING [css.glyphicons_social] from assets/components/library/icons/glyphicons/assets/css/glyphicons_social.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_social.css';

/* --- LOADING [css.glyphicons_filetypes] from assets/components/library/icons/glyphicons/assets/css/glyphicons_filetypes.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_filetypes.css';

/* --- LOADING [less.variables] from assets/components/core/less/variables.less */
@import '../../../assets/components/core/less/variables.less';

/* --- LOADING [less.mixins] from assets/components/core/less/mixins.less */
@import '../../../assets/components/core/less/mixins.less';

/* --- LOADING [less.scaffolding] from assets/components/core/less/scaffolding.less */
@import '../../../assets/components/core/less/scaffolding.less';

/* --- LOADING [less.helpers] from assets/components/core/less/helpers.less */
@import '../../../assets/components/core/less/helpers.less';

/* --- LOADING [less.layout] from assets/components/core/less/layout.less */
@import '../../../assets/components/core/less/layout.less';

/* --- LOADING [less.menus] from assets/components/core/less/menus.less */
@import '../../../assets/components/core/less/menus.less';

/* --- LOADING [less.widgets] from assets/components/core/less/widgets.less */
@import '../../../assets/components/core/less/widgets.less';

/* --- LOADING [less.forms] from assets/components/core/less/forms.less */
@import '../../../assets/components/core/less/forms.less';

/* --- LOADING [less.alerts] from assets/components/modules/admin/ui/alerts/assets/alerts.less */
@import '../../../assets/components/modules/admin/ui/alerts/assets/alerts.less';

/* --- LOADING [less.buttons] from assets/components/modules/admin/ui/buttons/assets/buttons.less */
@import '../../../assets/components/modules/admin/ui/buttons/assets/buttons.less';

/* --- LOADING [less.breadcrumb] from assets/components/core/less/breadcrumb.less */
@import '../../../assets/components/core/less/breadcrumb.less';

/* --- LOADING [less.tabs] from assets/components/modules/admin/tabs/assets/tabs.less */
@import '../../../assets/components/modules/admin/tabs/assets/tabs.less';

/* --- LOADING [less.accordions] from assets/components/modules/admin/widgets/accordions/assets/less/accordions.less */
@import '../../../assets/components/modules/admin/widgets/accordions/assets/less/accordions.less';

/* --- LOADING [less.gallery] from assets/components/core/less/gallery.less */
@import '../../../assets/components/core/less/gallery.less';

/* --- LOADING [less.image-preview] from assets/components/plugins/image-preview/image-preview.less */
@import '../../../assets/components/plugins/image-preview/image-preview.less';

/* --- LOADING [less.labels] from assets/components/core/less/labels.less */
@import '../../../assets/components/core/less/labels.less';

/* --- LOADING [less.animations] from assets/components/core/less/animations.less */
@import '../../../assets/components/core/less/animations.less';

/* --- LOADING [css.animate.min] from assets/components/library/animate/animate.min.css */
@import '../../../assets/components/library/animate/animate.min.css';

/* --- LOADING [css.picto] from assets/components/library/icons/pictoicons/css/picto.css */
@import '../../../assets/components/library/icons/pictoicons/css/picto.css';

/* --- LOADING [less.list-group] from assets/components/modules/admin/widgets/lists/list-group/assets/custom/less/list-group.less */
@import '../../../assets/components/modules/admin/widgets/lists/list-group/assets/custom/less/list-group.less';

/* --- LOADING [less.menus.top] from assets/components/core/less/menus.top.less */
@import '../../../assets/components/core/less/menus.top.less';

/* --- LOADING [less.navbar.main] from assets/components/modules/admin/navigation/navbar.main.less */
@import '../../../assets/components/modules/admin/navigation/navbar.main.less';

/* --- LOADING [less.responsive] from assets/components/core/less/responsive.less */
@import '../../../assets/components/core/less/responsive.less';

/* --- CUSTOM COLORS */
@primaryColor: #9FB478;
@linkColor: #9c62ab;
@secondaryColor: #64b1a0;
