
/* --- LOADING [css.bootstrap.min] from assets/components/library/bootstrap/css/bootstrap.min.css */
@import '../../../assets/components/library/bootstrap/css/bootstrap.min.css';

/* --- LOADING [css.font-awesome.min] from assets/components/library/icons/fontawesome/assets/css/font-awesome.min.css */
@import '../../../assets/components/library/icons/fontawesome/assets/css/font-awesome.min.css';

/* --- LOADING [css.glyphicons_regular] from assets/components/library/icons/glyphicons/assets/css/glyphicons_regular.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_regular.css';

/* --- LOADING [css.glyphicons_social] from assets/components/library/icons/glyphicons/assets/css/glyphicons_social.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_social.css';

/* --- LOADING [css.glyphicons_filetypes] from assets/components/library/icons/glyphicons/assets/css/glyphicons_filetypes.css */
@import '../../../assets/components/library/icons/glyphicons/assets/css/glyphicons_filetypes.css';

/* --- LOADING [less.variables] from assets/components/core/less/variables.less */
@import '../../../assets/components/core/less/variables.less';

/* --- LOADING [less.mixins] from assets/components/core/less/mixins.less */
@import '../../../assets/components/core/less/mixins.less';

/* --- LOADING [less.helpers] from assets/components/core/less/helpers.less */
@import '../../../assets/components/core/less/helpers.less';

/* --- LOADING [less.front.scaffolding] from assets/components/modules/front/core/assets/less/front.scaffolding.less */
@import '../../../assets/components/modules/front/core/assets/less/front.scaffolding.less';

/* --- LOADING [less.front.layout] from assets/components/modules/front/core/assets/less/front.layout.less */
@import '../../../assets/components/modules/front/core/assets/less/front.layout.less';

/* --- LOADING [less.buttons] from assets/components/modules/admin/ui/buttons/assets/buttons.less */
@import '../../../assets/components/modules/admin/ui/buttons/assets/buttons.less';

/* --- LOADING [less.front.buttons] from assets/components/modules/front/ui/buttons/front.buttons.less */
@import '../../../assets/components/modules/front/ui/buttons/front.buttons.less';

/* --- LOADING [less.forms] from assets/components/core/less/forms.less */
@import '../../../assets/components/core/less/forms.less';

/* --- LOADING [css.animate.min] from assets/components/library/animate/animate.min.css */
@import '../../../assets/components/library/animate/animate.min.css';

/* --- LOADING [less.shop.animations] from assets/components/modules/shop/core/less/shop.animations.less */
@import '../../../assets/components/modules/shop/core/less/shop.animations.less';

/* --- LOADING [less.tabs] from assets/components/modules/admin/tabs/assets/tabs.less */
@import '../../../assets/components/modules/admin/tabs/assets/tabs.less';

/* --- LOADING [css.owl.carousel] from assets/components/plugins/owl-carousel/owl.carousel.css */
@import '../../../assets/components/plugins/owl-carousel/owl.carousel.css';

/* --- LOADING [css.owl.theme] from assets/components/plugins/owl-carousel/owl.theme.css */
@import '../../../assets/components/plugins/owl-carousel/owl.theme.css';

/* --- LOADING [less.front.shop.owl-carousel.product] from assets/components/modules/shop/owl-carousel/product/front.shop.owl-carousel.product.less */
@import '../../../assets/components/modules/shop/owl-carousel/product/front.shop.owl-carousel.product.less';

/* --- LOADING [less.gallery] from assets/components/core/less/gallery.less */
@import '../../../assets/components/core/less/gallery.less';

/* --- LOADING [less.widget-generic] from assets/components/modules/admin/widgets/widget-generic/assets/widget-generic.less */
@import '../../../assets/components/modules/admin/widgets/widget-generic/assets/widget-generic.less';

/* --- LOADING [css.bootstrap-select] from assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/css/bootstrap-select.css */
@import '../../../assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/css/bootstrap-select.css';

/* --- LOADING [less.widgets] from assets/components/core/less/widgets.less */
@import '../../../assets/components/core/less/widgets.less';

/* --- LOADING [less.menus.top] from assets/components/core/less/menus.top.less */
@import '../../../assets/components/core/less/menus.top.less';

/* --- LOADING [less.front.menus.top] from assets/components/modules/front/core/assets/less/front.menus.top.less */
@import '../../../assets/components/modules/front/core/assets/less/front.menus.top.less';

/* --- LOADING [less.shop.navbar] from assets/components/modules/shop/navbar/shop.navbar.less */
@import '../../../assets/components/modules/shop/navbar/shop.navbar.less';

/* --- CUSTOM COLORS */
@primaryColor: #B0B69D;
@linkColor: #b88383;
@secondaryColor: #b88383;
