<% if object.errors.any? %>

  <div class="alert alert-primary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    The form contains <%= pluralize(object.errors.count, "error") %>.

    <div>
      <% object.errors.full_messages.each do |msg| %>
        - <%= msg %>
      <% end %>
    </div>
  </div>

<% end %>
