<% flash.each do |name, msg| -%>
<% #*name = success/info/primary/warning %>
<!-- Alert -->
<div class="alert alert-<%=name%>">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= msg%>
</div>
<!-- // Alert END -->
<% end -%>
