<div class="col-separator box col-separator-first reset-components hasNiceScroll" style="overflow-y: hidden; outline: none;" tabindex="5000">
  <div class="bg-white">
    <div class="profile-avatar">
      <div class="text-center">
      <% if !@user.avatar.nil? %>
       <%= link_to(image_medium(@user.avatar, ' class="img-responsive img-clean" '),
        image_path(username: @user.username, id: @user.avatar.id)) %>
        <% else %>
 <%= image_medium(@user.avatar, ' class="img-responsive img-clean" ') %>
        <% end %>
      </div>
    </div>

    <div class="innerAll">
      <h4><i class="fa fa-circle text-success pull-right"></i> <%= @user.username  %> </h4>
      <p class="margin-none text-muted"><%= "#{@user.age} / #{@user.sex_text} / #{@user.city.name}"%></p>
    </div>


  </div>
  <div class="col-separator-h box"></div>

  <ul class="list-group list-group-1 margin-none">
    <% if user_signed_in? && current_user.id == @user.id %>
    <li class="list-group-item border-top-none active">
    <a href="<%= new_image_path %>"><i class="fa fa-book"></i> Upload photo</a>
    </li>
    <% end %>

    <li class="list-group-item border-top-none active">
      <a href="<%= url_for controller: :profiles, action: :show, username: @user.username %>"><i class="fa fa-book"></i> Profile</a>
    </li>
    <li class="list-group-item">
      <span class="badge pull-right badge-primary hidden-md"><%= @user.images.count %></span>
      <a href="<%= url_for controller: :images, action: :index, username: @user.username %>"><i class="fa fa-camera"></i> Photos</a>
    </li>

  </ul>


  <div class="col-separator-h box"></div>




  <div class="col-separator-h box"></div>

</div>
