<div class="page-header">
	<div class="fishes">
		<div class="container">
			<h1 class="title">Mega<span>Qkiq</span> Site<!-- <span class="version">v 2.0</span> --></h1>
			<h2 class="subtitle">Next Generation of Flat Templates</h2>
			<a class="btn btn-primary btn-lg" href="users/sign_up">Registrirai se <i class="fa fa-chevron-right"></i></a>
			<div class="clerfix"></div>
			<div class="btn-group bottom">
				<a class="btn "> <i class="fa fa-refresh"></i> Change History </a>
				<a class="btn "> <i class="fa fa-edit"></i> Question &#38; Answers</a>
			</div>

		</div>
	</div>
</div>
