<% user.images.limit(10).each do |image| %>
<a href="<%= url_for(controller: :images, action: :show, username: image.user.username,
  id: image.id ) %>">
  <%= image_thumb(image, ' style="width: 50px; height: 50px"') %>
</a>
<% end %>
