<div class="widget activity-line">
  <div class="widget-body padding-none">
    <div class="activity-status">
      <div class="activity-author"><a href="#"><%= image_thumb share.author.avatar, 'width="50"' %></a></div>
      <div class="text">
        <a href="#"><%= share.author.username %>  </a> posted
        <br />
        <span class="glyphicons calendar"><i></i><%= distance_of_time_in_words_to_now(share.created_at) %> ago</span>
      </div>
      <div class="clearfix"></div>
    </div>


    <div class="activity-content border-top border-bottom"><%=  share.content %></div>

    <div class="innerAll">
      <ul class="list-group social-comments margin-none" >
        <% share.comments.each do |comment| %>
          <%= render 'profiles/tabs/share_comment.html', :comment => comment  %>
        <% end %>
        <% if user_signed_in? %>
          <li class="list-group-item innerAll" id="comments_for_share_<%=share.id%>">
            <%= image_thumb current_user.avatar, 'width="50" class="pull-left"' %>
            <div class="user-info">
              <div class="row">
                <div class="col-md-3">
                  <a href=""><%= current_user.username %></a>
                </div>
                <div class="col-md-9">

                  <form action="/comments/create" method="post" id="new_comment_for_share_<%=share.id%>">
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                    <input class="form-control input-sm" placeholder="Write a comment..." name="comment[content]" id="comment_field_for_share_<%=share.id%>" />
                    <input type="hidden" value="<%=share.id%>" name="comment[commentable_id]" />
                    <input type="hidden" value="Share" name="comment[commentable_type]" />

                    <button type="submit">Submit</button>
                  </form>
                  <%= render 'profiles/tabs/share_comment_js', :share => share %>
                </div>
              </div>
            </div>

          </li>
        <% else  %>
          <li class="list-group-item innerAll" id="comments_for_share_<%=share.id%>">
            <input class="form-control input-sm" placeholder="Login to comment"  disabled="disabled"/>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>



