<script type="text/javascript">
  $(document).ready(function() {
    $("#new_comment_for_share_<%=share.id%>").submit(function() {

      if ($('#comment_field_for_share_<%=share.id%>').val() == "") {
        alert("Please enter a comment first!");
        return false;
      }
      form_data = $(this).serialize();
      $.ajax({
        type: "POST",
        url: '/comments/create',
        data: form_data,
        dataType: 'html', //important
        success: function(data) {
          $("#comments_for_share_<%=share.id%>").before(data);
          $('#comment_field_for_share_<%=share.id%>').val('');
        },
        error: function(jqXHR, textStatus, errorThrown) {
          // console.log(jqXHR);
          // console.log(textStatus);
          // console.log(errorThrown);
        }
      });
      return false;
    });
  });
</script>
