<li class="list-group-item">
  <%= image_thumb comment.author.avatar, 'width="50" class="pull-left"' %>
  <div class="user-info">
    <div class="row">
      <div class="col-md-3">
        <a href=""><%= comment.author.username%></a>
        <abbr><%= distance_of_time_in_words_to_now(comment.created_at) %> ago</abbr>
      </div>
      <div class="col-md-9">
        <span><%= comment.content  %></span>
      </div>
    </div>
  </div>
</li>
