
<%= simple_form_for(resource, :as => resource_name,
:url => session_path(resource_name),  :html => { :class => "form-horizontal", :role => "form"}) do |f| %>
<%= f.error_notification %>
<div class="form-group">
  <%= f.label :email, :required => false,  :autofocus => true, :class => "col-sm-3 control-label" %>
  <div class="col-sm-3">
    <p class="form-control-static">
      <%= f.text_field :email, :class => "form-control "%>
    </p>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, :required => false, :class => "col-sm-3 control-label" %>
  <div class="col-sm-3">
    <p class="form-control-static">
      <%= f.password_field :password, :class => "form-control "%>
    </p>
  </div>
</div>

<div class="form-group">

  <div class="col-sm-offset-3 col-sm-5">
    <p class="checkbox">
      <label>
        <%= f.check_box :remember_me %> Remember Me
      </label>
    </p>
  </div>



  <div class="form-actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit, "Sign in", :class=> "btn btn-primary"%>

    </div>
  </div>

  <% end %>
  <div class="row">
    <%= render "devise/shared/links" %>
  </div>
