.carousel {
	ol.carousel-indicators {
			li {border:2px solid @primaryColor;}
			.active {background: @primaryColor; border:2px solid #fff; }
		}	
	.search {
		h3 {color :#fff; font-weight: bold;}
		position: absolute;
		top:25%;
		z-index: 2;
		left:0;
		right:0;
		text-align: center;
		width:100%;
		
		.search-box {
			position: relative;
			display: inline-block;
			text-align: center;
			padding:10px 20px;
			width:50%;
			height: 170px;
			background: fade(#000,70%);
			box-shadow: 0 0px 20px fade(#000,90%);;
			color:#fff;
			a {color:#fff;}
			input {.rounded(); height: 40px; border:none; }	
			.input-group { margin-top:15px;}
			.input-group .btn {height: 40px;}
			ul {
				text-align: left;
				li{
					display: inline;
					.btn { text-transform: none; font-weight: bold;
						&:hover {color:#fff;}
					}
				}
			}
		}

		.carousel-inner {
			width: auto;
			.item {
			
			overflow-y:hidden;
			text-align: center;
				img { height: 500px; }
			}
		}
			
	}

	&.properties {
		ol.carousel-indicators {
			position: absolute;
			display: inline-block;
			
			right:0px;
			top:0;
			margin:0px;
			width:auto;
			text-align: right;

			li {border-color:@primaryColor;}
			.active {background: @primaryColor; }
		}
	}
}