<div class="col-sm-12 col-md-2 col-lg-2">
  <!-- col-separator -->
  <div class="col-separator hasNiceScroll" style="overflow-y: hidden; outline: none;" tabindex="5000">

   <%= form_tag profiles_path, :method => 'get' do %>
   <div class="widget-body padding-none">

    <div class="innerAll border-bottom">


      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-map-marker"></i>
        </span>

        <%= select_tag "search[city_id]",
        options_from_collection_for_select(City.all, 'id', 'name', params[:search].nil? ? nil : params[:search][:city_id]), :include_blank => true,
        :class=>'form-control' %>

      </div>
    </div>

    <div class="innerAll border-bottom text-center" >
      <%= select_tag 'search[sex]', options_for_select(User.sex.options, params[:search].nil? ?  current_user.opposite_sex : params[:search][:sex]),
      :class => 'form-control'       %>

    </div>


    <div class="innerAll border-bottom text-center" >
      <div class="row">
        <div class="col-md-6">
        From
        <%= select_tag 'search[age_min]' , options_for_select((14..100), params[:search].nil? ? 18 : params[:search][:age_min]) , :class=> 'form-control'%>
        </div>
        <div class="col-md-6">
        To
         <%= select_tag 'search[age_max]' , options_for_select((14..100), params[:search].nil? ? 28 : params[:search][:age_max]) , :class=> 'form-control'%>
        </div>
      </div>
    </div>

    <div class="innerAll text-center">
      <button class="btn btn-block btn-success">Search <i class="fa fa-fw fa-search"></i></button>
    </div>
  </div>
</div>

<!-- // END col-separator -->


</div>
<% end %>




