<div class="col-sm-6">
  <div class="bg-white innerAll" data-animate="bounceIn" data-delay="200">
    <div class="media margin-none">
      <a href="<%= profile_path(username: user.username) %>" class="pull-left" style="width: 200px;">
        <%= image_medium user.avatar, ' class="img-responsive" ' %>
      </a>
      <div class="media-body">
        <div class="pull-right">
          <a href="realestate_listing_list.html?lang=en" class="btn btn-default btn-xs"><i class="fa fa-info fa-fw"></i></a>
          <a href="realestate_listing_list.html?lang=en" class="btn btn-primary btn-xs"><i class="fa fa-shopping-cart fa-fw"></i></a>
        </div>

        <h3 class="margin-none"><%= link_to user.username, profile_path(username: user.username) %></h3>

        <div class="innerAll bg-gray">
          <span class="text-primary strong"><%= user.age %></span>
          &nbsp;
          <span class="label label-default"><%= t user.sex_text %></span>
          &nbsp;
          <i class="fa fa-fw fa-map-marker"></i> <%= user.city.name %>
        </div>
        <div class="separator"></div>
        <div class="row">
          <div class="col-md-4">Height</div>
          <div class="col-md-8"><span class="strong"><%= user.height %></span> cm.</div>
        </div>
        <div class="row">
          <div class="col-md-4">Weight</div>
          <div class="col-md-8"><span class="strong"><%= user.weight %></span> kg.</div>
        </div>
        <div class="row">
          <div class="col-md-4">Eye color</div>
          <div class="col-md-8"><span class="strong"><%= user.eye_color_text %></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
</div>
