<!-- col -->
              <div class="col-lg-8 col-md-8 col-sm-12">

                <!-- col-separator -->
                <div class="col-separator col-unscrollable col-separator-last bg-none">

                  <!-- col-table -->
                  <div class="col-table">

                    <div class="innerAll bg-white">
                      <h4 class="margin-none innerT half pull-left"><%= t 'Users' %></h4>
                      <div class="btn-group btn-group-sm pull-right">
                        <a href="realestate_listing_grid.html?lang=en" class="btn btn-default"><i class="fa fa-th"></i></a>
                        <a href="realestate_listing_list.html?lang=en" class="btn btn-primary"><i class="fa fa-list"></i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>

                    <div class="col-separator-h"></div>

                    <!-- col-table-row -->
                    <div class="col-table-row">

                      <!-- col-app -->
                      <div class="col-app col-unscrollable">

                        <!-- col-app -->
                        <div class="col-app">

                          <div class="innerAll2">
                          <% @profiles.each do |user| %>
                            <%= render 'profiles/index/profile', :user => user %>
                          <% end %>
                          <div class='clearfix'></div>
                          <div class="row" style='text-align:center'>
                          <%= will_paginate @profiles, renderer: BootstrapPagination::Rails  %></div>

                            </div>
                          </div>

                        </div>
                        <!-- // END col-app -->

                      </div>
                      <!-- // END col-app -->

                    </div>
                    <!-- // END col-table-row -->

                  </div>
                  <!-- // END col-table -->

                </div>
                <!-- // END col-separator -->
