// Variables
// -------------------------

@primaryColor: #eb6a5a;
@dangerColor: #bd362f;
@successColor: #8bbf61;
@warningColor: #ab7a4b;
@inverseColor: #424242;
@infoColor: #4193d0;
@defaultColor: darken(#efefef, 5%);

// General
// -------------------------

@bodyBg: #fff;
@bodyText: #525252;
@containerBorder: #d8d8d8;
@containerBg: darken(#efefef,2%);
@linkHover: #333333;
@bodyTextShadow: 0 1px 0 #fff;

// Content
// -------------------------

@contentGradient1: #fdfdfd;
@contentGradient2: #f4f4f4;
@contentShadow1: #dbdbdb;
@contentShadow2: #f6f6f6;
@widgetBg: #ffffff;
@widgetBgGray: #f4f4f4;
@contentBg1: #fafafa;
@contentBorder: #efefef;
@contentBorder2: #ebebeb;
@subheadingText: lighten(@bodyText, 20%);
@footerBg: #efefef;
@footerHeight: 48px;

// Widget specific
// -------------------------

@listActiveHoverBg: #f2f2f2;
@listActiveHoverBoxShadow: 0 1px 0 0 #fff inset;
@preBg1: #f8f8f8;
@preBg2: #eeeeee;
@wellBg: #fafafa;

// Layout
// -------------------------

@spacing: 10px;
@layoutAppSeparator: 13px;

// DON'T MODIFY UNLESS YOU KNOW WHAT YOU'RE DOING
// -------------------------

@layoutAppTop: @layoutAppSeparator;

// when sidebar is hidden
@menuSidebarWidth: 0;
@menuSidebarKisWidth: 0;

// when top menu is disabled
@menuTopHeight: 0;

// when top main navbar is disabled
@navbarMainHeight: 0;