
<style type='text/css'>
  .d_image_container {
    position:relative;
    display:inline-block;
  }

  .d_button_delete {
    position:absolute;
    bottom:0px;
    right:5px;
    margin-bottom: 10px;
    margin-right: 10px;
    z-index: 1010;
    display: none;
  }
  .d_button_avatar {
    position:absolute;
    bottom:0px;
    left: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 1010;
    display: none;
  }
</style>
<div class="col-md-3">
  <a href="<%= image_path(username: image.user.username, id: image.id) %>" class="thumbnail pull-left d_image_container" >
    <%= image_medium(image,  ' style=" border: 0" ') %>
  </a>
  <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe,
  {  action: :destroy, id: image.id, }, method: :delete,
  class: 'btn btn-danger d_button_delete', :title => "Delete image" ,
    confirm: 'Are you sure?' %>
    <%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe,
    {  action: :avatar, id: image.id}, method: :put,
    class: 'btn btn-default d_button_avatar', :title => "Set as profile image" %>

  </div>
  <script type="text/javascript">
    $(".col-md-3").hover(
      function() {
       $(this).children('.d_button_avatar').show();
       $(this).children('.d_button_delete').show();
     },
     function(){
       $(this).children('.d_button_avatar').hide();
       $(this).children('.d_button_delete').hide();
     }
     );
  </script>
