
<div class="col-md-2">
<%= render 'shared/profile_left_col' %>
</div>
<div class="col-md-8">
  <% @images.each_slice(4) do |slice| -%>
  <div class="row" >
    <% slice.each do |image| -%>
    <%= render 'image', :image => image %>
    <% end -%>
  </div>
  <div class="separator bottom"></div>
  <% end -%>
  <script type="text/javascript" src="<%= asset_url  'components/plugins/holder/holder.js' %>"></script>
</div>
<div class="col-md-2">
ads ads ads ads ads
</div>
