
<div class="col-md-2">
  <%= render 'shared/profile_left_col' %>
</div>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
<%= simple_form_for( @image, url: create_image_path, :html => { :multipart => true }) do |f| %>
  <%= f.file_field :filename %>
  <%= f.button :submit %>
<% end %>
</div>
</div>
</div>
<div class="col-md-2"></div>
