<style type="text/css">
  <style type='text/css'>
    .d_image_container {
      position:relative;
      width: 100%;
    }

    .d_next_link {
      position:absolute;
      top:0;
      right:5px;
      margin-top: 50px;
      margin-right: 0.5em;
      z-index: 1010;
      display: none;
      font-size: 50px;
    }
    .d_previous_link {
      position:absolute;
      top:0px;
      left: 5px;
      margin-top: 50px;
      margin-left: 0.5em;
      font-size: 50px;
      z-index: 1010;
      display: none;
    }
  </style>
</style>
<div class="col-md-2">
  <%= render 'shared/profile_left_col' %>
</div>
<div class="col-md-8">
  <div class="row">
   <div class="col-md-12 d_image_container" style="display: table-cell; align-content: center; text-align: center;">
    <%= link_to "<i class='glyphicon glyphicon-chevron-left'></i>".html_safe, image_path(username: @image.previous.user.username, id: @image.previous.id), {:class=>"d_previous_link"}  %>
    <a href="<%= image_path( username: @image.next.user.username, id: @image.next.id) %>">
      <%= image_full @image, 'style="max-height:500px; max-width: 100%"' %>
    </a>
    <%= link_to "<i class='glyphicon glyphicon-chevron-right'></i>".html_safe, image_path(username: @image.next.user.username, id: @image.next.id), {:class=>"d_next_link"}   %>
  </div>
  </div>
</div>

<div class="col-md-2">
  ads ads ads ads ads
</div>

  <script type="text/javascript">
    $(".d_image_container").hover(
      function() {
       $(this).children('.d_previous_link').show();
       $(this).children('.d_next_link').show();
     },
     function(){
       $(this).children('.d_previous_link').hide();
       $(this).children('.d_next_link').hide();
     }
     );
  </script>
