<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class=""> <![endif]-->
<!--[if !IE]><!-->
<html class="">
<!-- <![endif]-->

<head>
	<title><%= t "Dating"%></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<!--[if lt IE 9]><link rel="stylesheet" href="<%= asset_url 'components/library/bootstrap/css/bootstrap.min.css' %>" /><![endif]-->


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

		<%= csrf_meta_tags %>

	</head>

	<body class="breakpoint-992 breakpoint-768 wysihtml5-supported">
		<%= render_cell :menu, :show %>
		<div class="innerAll">
			<div class="widget widget-tabs">
				<div class="widget-body">
					<%= render 'shared/flash_messages' %>
					<div class="row">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>



		<%= javascript_include_tag "application_footer", "data-turbolinks-track" => true %>
	</body>
	</html>
